* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  --bg-color: rgb(255, 255, 255);
  --text-color: rgb(0, 0, 0);
  --main-color: #ffae00;
  --large-font: 7rem;
  --p-font: 1.1rem;
  --font-large: "Encode Sans", sans-serif;
  --font-med: "Encode Sans", sans-serif;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  overflow: hidden;
}

#header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  padding: 35px 15%;
  background: transparent;
  transition: all ease 0.45s;
}

.logo {
  color: var(--text-color);
  font-size: 41px;
  font-weight: 600;
  font-family: var(--font-large);
}
.logo span {
  color: var(--main-color);
  font-family: "Encode Sans", sans-serif;
}

.navbar {
  display: flex;
}

.navbar a {
  font-size: var(--p-font);
  font-family: var(--font-med);
  font-weight: 500;
  color: var(--text-color);
  margin: 0 25px;
  transition: all ease 0.5s;
}

.navbar:hover {
  color: var(--main-color);
}

#menu {
  color: var(--main-color);
  font-size: 28px;
  margin-left: 10px;
  z-index: 6;
}

.menu-btn span {
  padding: 6px;
}

.menu-btn {
  display: flex;
  font-family: var(--font-med);
  background: linear-gradient(100.08deg, #f5ebbb 0%, #ffffff 100%);
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  cursor: pointer;
}

.navbar a.active {
  color: var(--main-color);
}
