* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  --bg-color: rgb(255, 255, 255);
  --text-color: rgb(0, 0, 0);
  --main-color: #ffae00;
  --large-font: 7rem;
  --p-font: 1.1rem;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  overflow: hidden;
}

#header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  padding: 35px 15%;
  background: transparent;
  transition: all ease 0.45s;
}

.logo {
  color: var(--text-color);
  font-size: 41px;
  font-weight: 600;
}
span {
  color: var(--main-color);
}
